@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is the administrator area
     </p>
    <p class="lead mt-1">
        You can see <b>all ingredients from button All Ingredients and all receipts from button All Receipts</b>, added in the system.
                    You can add a new ingredient or receipt!
    </p>
    <p class="lead mt-1">
        You can also see <b>all products, added in the system and their calories by 100 grammes !</b>.
    </p>
     <p class="lead mt-1">
        You can also search <b>by receipt and see all added ingredients in this receipt !</b>.
    </p>
    <hr class="my-4">

    <a asp-area="" asp-controller="Ingredient" asp-action="Index"
       class="btn btn-primary btn-lg">All Ingredients</a>
       <a asp-area="" asp-controller="Receipt" asp-action="Index"
       class="btn btn-primary btn-lg">All receipts</a>

</div>
