@model IngredientBySearchViewModel

<h2 class="text-center">All Ingredients by receipt</h2>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
              <div class="form-group">
                <label asp-for="ReceiptId" ></label>
                <select asp-for="ReceiptId" class="form-control">
                    @foreach (var rec in Model.Receipts)
                    {
                                            <option value="@rec.Id">@rec.Name</option>
                    }
                </select>
                <span asp-validation-for="ReceiptId" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Choice" />
                 </div>
        </form>
    </div>
</div>
