@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
   <div class="mt-4 p-5 bg-light">
           <h4 class="display-4">This is a EnergyCalculator</h4>

        </div>
</div>

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, user!</h2>
    <p class="lead mt-1">
        You can also see <b>all products, added in the system and their calories by 100 grammes</b>.
    </p>
    <p class="lead mt-1">
        You can also add <b>your receipts and products</b>, after you are logged in the system.
    </p>
     <p class="lead mt-1">
        You can also add <b>your ingredients in the receipts</b>, after you are logged in the system.
    </p>
    <p class="lead mt-1">
        You can search <b>by receipt and see all added ingredients in а chosen receipt</b>, entered in the system.
    </p>
    <hr class="my-4">

</div>
